# LibreOffice lock files
.~lock.*#

# Python
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# VS Code
.vscode/
*.code-workspace

# Build outputs
*.exe
*.out

# System files
.DS_Store
Thumbs.db

# Project specific
OS-lab-reports/
